.detail-button {
    background-color: blue;
}

.delete-button {
    background-color: red;
}

.form-new {
  position: absolute;
  top: 120px;
  transform: translateX(50px);
  border: 1px solid black;
  max-width: 500px;
  flex-direction: column;
  gap: 5px;
  /* width: 100vw; */
  background-color: antiquewhite;
  padding: 20px;
  right:500px;

}

.error-message {
  color: red
}

.button-action {
  display: flex;
  margin: 10px
}

.container mt-3 {
  position: relative;
}

.btn btn-primary {
  margin-right: 5px;
}
