/* .detail-button {
    background-color: blue;
} */

/* .delete-button {
    background-color: red;
} */

.form-new {
  position: absolute;
  top: 150px;
  transform: translateX(50px);
  border: 1px solid black;
  max-width: 500px;
  flex-direction: column;
  gap: 5px;
  /* width: 100vw; */
}

.error-message {
  color: red
}

.button-action {
  display: flex;
}
