{% extends 'base.html' %} {% load static %}
<link rel="stylesheet" href="{% static 'css/department.css' %}" />
{% block content %}
<!-- Title Bar -->

<header class="header-detail">
<div
  class="header-department"
  style="height: 80px; padding: 20px"
>


  <h3 class = "department-title">Depertment detail</h3>
  <p class="number-employees">Number of employees: {{ employees|length }}</p>

  <button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#myModalEdit"
>
  Edit
</button>

</div>
 <div class = "header-infor-container">
     <div class = "name-description">
         <p class="header-infor name">Name: {{ department.name}}</p>
         <p class="header-infor description">Description: {{ department.description}}</p>
    </div>
   
 </div>



</header>
<!-- Card with Table -->
<div
  style="
    background-color: white;
    padding: 30px;
    margin: 20px 20px 0 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  "
>
  <div
    style="
      background-color: #efefef;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
      width: 100%;
    "
    class="d-inline-flex justify-content-end align-items-center"
  >
    <div class="dropdown">
      <button
        class="btn dropdown-toggle"
        style="background-color: #fff; border: none"
        type="button"
        id="dropdownMenuButton"
        data-mdb-dropdown-init
        data-mdb-ripple-init
        aria-expanded="false"
      >
        Sort
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>

    <div class="input-group rounded" style="width: 15%; margin-left: 20px">
      <input
        class="form-control rounded"
        placeholder="Start Date"
        aria-label="Start Date"
        aria-describedby="start-addon"
        onfocus="(this.type='date')"
        onblur="if(this.value==''){this.type='text'}"
      />
      <span class="input-group-text border-0" id="search-addon"> </span>
    </div>
    <div class="input-group rounded" style="width: 15%">
      <input
        onfocus="(this.type='date')"
        onblur="if(this.value==''){this.type='text'}"
        class="form-control rounded"
        placeholder="End Date"
        aria-label="End Date"
        aria-describedby="end-addon"
      />
      <span class="input-group-text border-0" id="search-addon"> </span>
    </div>

    <div class="input-group rounded" style="width: 20%">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search content..."
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="bi-search"></i>
      </span>
    </div>
    <div class="input-group rounded" style="width: fit-content">
      <button type="button" class="btn btn-primary">Filter</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table rounded" style="width: 100%">
      <thead class="table-secondary">
        <tr>
          <th scope="col-3">Full Name</th>
          <th scope="col-3">Gender</th>
          <th scope="col-3">Birthday</th>
          <th scope="col-3" style="width: 20%">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.get_full_name }}</td>
          <td>{{ employee.gender }}</td>
          <td>{{ employee.birthday }}</td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#myModalEdit"
            >
              Details
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-toggle="modal"
              data-target="#myModalDelete"
            >
              Delete
            </button>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Edit -->
<div class="modal" id="myModalEdit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit department</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <form id="myFormEdit" method="patch" action="{% url 'employees_list' department.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label>Name</label>
            <input
              type="text"
              class="form-control"
              id="inputName"
              name="name" 
            />
          </div>
          <div class="form-group">
            <label>Description</label>
            <input
              type="text"
              class="form-control"
              id="inputDescription"
              name="description"
            />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
