<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Department</title>
</head>
<body>
    <h2>New Department</h2>
    
    <form method="post" action="{% url 'create-department' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
        <a href="{% url 'departments' %}">
            <button type="button">Cancel</button>
        </a>
    </form>
</body>
</html>
