<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base</title>
    <link rel="stylesheet" href="{% static 'css/navigator.css' %}" />
    {% load django_bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}
  </head>
  <body>
    <header class="header">
      <div class="header-wrapper">
        <p class="header-notify">Hi, {{ user.username }}!</p>
        <form method="post" action="{% url 'user_logout' %}">
          {% csrf_token %}
          <button class="header-button" type="submit">Logout</button>
        </form>
      </div>
    </header>
    <!-- SIDEBAR -->
    <main class="container-page">
      <nav class="sidebar">
        <ul class="sidebar-list">
          <li
            class="sidebar-item {% if context.current_page == 'departments' %}active{% endif %}"
          >
            <a class="item-link" href="{% url 'departments' %}">Departments</a>
          </li>
          <li class="sidebar-item">
            <a class="item-link" href="#">Contacts</a>
          </li>
          <li class="sidebar-item">
            <a class="item-link" href="#">Employees</a>
          </li>
        </ul>
      </nav>
      <!-- CONTENT-->
      <div class="content">
        <div class="page-bar">
          <p class="page-name">{% block page_name %}{% endblock %}</p>
          <button class="add-button">Add New</button>
        </div>
        {% block content %}{% endblock %}
      </div>
    </main>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
