html,
body {
    height: 100%;
    margin: 0;
}

.sidebar {
    background-color: rgb(121, 119, 119);
    padding: 16px 0 0;
    height: 100%;
    width: 15%;
    z-index: 600;
}

.sidebar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-item {
    margin-bottom: 20px;
    padding: 10px 0px;
    margin: 0 auto;
}

.item-link {
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.header-wrapper {
    display: flex;
    align-items: center;
}

.header-button {
    border-radius: 8px;
    width: 70px;
    height: 32px;
    border: none;
    margin: 0 15px;
}

.header-notify {
    color: white;
}

.sidebar-item.active {
    background-color: #6C6D6E;
    color: rgb(9, 49, 226);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

ul {
    padding: 0;
}

.body-container {
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.content {
    flex: 1;
    background-color: #EFEFEF;
}
