html,
body {
    height: 100%;
    margin: 0;
}

.sidebar {
    background-color: grey;
    padding: 16px 0 0;
    height: 100%;
    width: 15%;
    z-index: 600;
}

.sidebar-list {
    list-style: none;
}

.sidebar-item {
    margin-bottom: 20px;
    padding: 10px;
    margin-left: -45px;
}

.item-link {
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 70px;
}

.header{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.header-wrapper{
    display: flex;
    align-items: center;
}

.header-button {
    border-radius: 8px;
    width: 70px;
    height: 32px;
    border: none;
    margin: 0 15px;
}

.header-notify{
    color: white 
}

.sidebar-item.active {
    background-color: #6c6d6e;
    color: rgb(9, 49, 226);
    padding: 10px;
    margin-left: -45px;
}

