<!DOCTYPE html>
{% extends 'base.html' %}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department_list</title>
    <link rel="stylesheet" href="{% static 'css/detail-detele-button.css' %}">
</head>
<body>
    {% block content %}
    <h2>Department List</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for department in departments %}
          <tr>
            <td>{{ department.name }}</td>
            <td>
              <button class="detail-button" href="#">Detail</button>
              <button class="delete-button" herf="#">Delete</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endblock %}
</body>

</html>
